*.zip filter=lfs diff=lfs merge=lfs -text
*.rpf filter=lfs diff=lfs merge=lfs -text
*.yft filter=lfs diff=lfs merge=lfs -text
*.ytd filter=lfs diff=lfs merge=lfs -text
*.ydd filter=lfs diff=lfs merge=lfs -text
*.yld filter=lfs diff=lfs merge=lfs -text
*.ydr filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.navmesh filter=lfs diff=lfs merge=lfs -text
*.gxt2 filter=lfs diff=lfs merge=lfs -text
*.fxc filter=lfs diff=lfs merge=lfs -text
*.psc filter=lfs diff=lfs merge=lfs -text
*.pft filter=lfs diff=lfs merge=lfs -text
